@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WHUNow</h1>
    <p>The best site for all West Ham related news.</p>
</div>
